{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/wagtailtask.css' %}">
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fittext.js"></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div id="overlay" class="overlay">
            <div class="overlay__inner grid">
                <a onclick="closeNav()" class="overlay__cross-link" href="#"><img class="overlay__cross-img" src="{% static 'img/cross.svg' %}" alt="Cross"></a>
            </div>
            <nav class="overlay__nav">
                <ul class="overlay__list">
                    <li class="overlay__item"><a href="#">INSIGHTS</a></li>
                    <li class="overlay__item"><a href="#">THE TEAM</a></li>
                    <li class="overlay__item"><a href="#">PLAYBOOK</a></li>
                    <li class="overlay__item"><a href="#">SERVICES</a></li>
                </ul>
            </nav>
        </div>

        <header class="main-header main-header--small grid">
            <a class="main-header__logo--small" href="/"><img src="{% static 'img/vix-logo.svg' %}" alt="VIX Logo"></a>
            <nav class="main-header__nav">
                <ul>
                    <li class="main-header__nav--big"><a href="#">INSIGHTS</a></li>
                    <li class="main-header__nav--big"><a href="">THE TEAM</a></li>
                    <li class="main-header__nav--big"><a href="#">PLAYBOOK</a></li>
                    <li class="main-header__nav--big"><a href="#">SERVICES</a></li>
                    <li class="main-header__nav--small"><a onclick="openNav()" href="#"><img class="main-header__hamburger" src="{% static 'img/hamburger.svg' %}" alt="Hamburger menu"></a></li>
                </ul>
            </nav>
        </header>

        {% if request.path != "/" %}
            <header class="second-header">
                <nav class="second-header__nav">
                    <ul>
                        <li class="second-header__logo"><a href="/"><img src="images/vix-logo-pink.svg" alt="VIX Logo"></a></li>
                        <li class="second-header__nav--big"><a href="#">INSIGHTS</a></li>
                        <li class="second-header__nav--big"><a href="team.html">THE TEAM</a></li>
                        <li class="second-header__nav--big"><a href="#">PLAYBOOK</a></li>
                        <li class="second-header__nav--big"><a href="#">SERVICES</a></li>
                    </ul>
                </nav>
            </header>
        {% endif %}

        {% block content %}{% endblock %}

        <footer class="main-footer grid margin padding">
            <p class="main-footer__contact">VIX Digital LTD © 2018 / info@vix.digital / Warrington, WA4 1AT<br><a href="#" class="main-footer__policy">Privacy Policy</a></p>
            <div class="main-footer__social-container">
                <a target="_blank" href="https://github.com/vixdigital"><img src="{% static 'img/github.svg' %}" alt="GitHub logo" class="main-footer__social-img"></a>
                <a target="_blank" href="https://twitter.com/vix_digital"><img src="{% static 'img/twitter.svg' %}" alt="Twitter logo" class="main-footer__social-img"></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCMcOkcdRBmnHLEg87cg7EYQ?view_as=subscriber"><img src="{% static 'img/youtube.svg' %}" alt="Youtube logo" class="main-footer__social-img"></a>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
