{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <section class="landing landing--big grid">
        <div class="landing__container">
            <h1 class="landing__title">We are<br><span class="title--pink">VIX Digital</span></h1>
            <div class="landing__button-container">
                <a class="landing__button button--filled" href="#team">Who we are?</a>
                <a class="landing__button button--stroke" href="#services">What we do?</a>
            </div>
        </div>
        <div class="landing__wave">
            <header class="main-header main-header--big">
                <nav class="main-header__nav main-header__nav--large">
                    <ul>
                        <li class="main-header__nav--big"><a href="#">INSIGHTS</a></li>
                        <li class="main-header__nav--big"><a href="/our-team">THE TEAM</a></li>
                        <li class="main-header__nav--big"><a href="#">PLAYBOOK</a></li>
                        <li class="main-header__nav--big"><a href="#">SERVICES</a></li>
                    </ul>
                </nav>
            </header>
            <img src="{% static 'img/vix-logo.svg' %}" alt="VIX logo" class="landing__logo">
        </div>
    </section>

    <section class="landing landing--small grid">
        <h1 class="landing__title">We are<br><span class="title--pink">VIX Digital</span></h1>
        <a class="landing__button button--filled" href="#team">Who we are?</a>
        <a class="landing__button button--stroke" href="#services">What we do?</a>
    </section>

    <section id="team" class="team grid margin padding">
        <h2 class="team__title">What's <span class="title--pink">VIX Digital</span>?</h2>
        {% image self.intro_image max-1440x810 as intro_image %}
        <img src="{{ intro_image.url }}" alt="VIX team at pub" class="team__img">
        <a href="team.html" class="team__button button--filled">{{ self.intro_button }}</a>
        <div class="team__paragraphs-container">
            {% for paragraph in page.intro_content %}
                {% include_block paragraph %}
            {% endfor %}
        </div>
    </section>

    <section id="services" class="services grid margin padding">
        <h2 class="services__title">What we <span class="title--pink">do</span>?</h2>
            {% for service in page.service %}
                {% include_block service %}
            {% endfor %}
        <a href="#" class="button--filled services__button--filled">More</a>
        <a href="#" class="button--stroke services__button--stroke">Playbook</a>
    </section>

    <section class="portfolio grid margin padding">
        <h2 class="portfolio__title">
            What we <span class="title--pink">did</span>?
        </h2>
        {% for project in page.project %}
            {% include_block project %}
        {% endfor %}
    </section>

    <section class="client margin grid padding">
        <h2 class="client__title">What our <span class="title--pink">clients say</span> about us?</h2>
        {% for client in page.client %}
            {% include_block client %}
        {% endfor %}
    </section>

    <section class="news grid margin padding">
        <h2 class="news__title">What's <span class="title--pink">new</span> at VIX Digital?</h2>
        {% for news in page.news %}
            {% include_block news %}
        {% endfor %}
    </section>
{% endblock %}