{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <section class="team-members grid margin padding">
        <h2 class="team-members__title">What's <span class="title--pink">VIX Digital</span> ?</h2>
        {% for team in page.team %}
            {% include_block team %}
        {% endfor %}
        <div class="member member--special">
            <div class="member-container--special">
                <p class="member-function"><a href="team.html#job">Take a look at our current opportunities</a></p>
                <img class="member-image" src="{% static 'img/none.png' %}" alt="Take a look at our current opportunities">
            </div>
            <h3 class="member__name">Want to work with us ?</h3>
        </div>
    </section>

    <section class="job grid margin padding" id="job">
        <h2 class="job__title">Take a look to our <span class="title--pink">current opportunities</span> !</h2>
        {% for job in page.job %}
            {% include_block job %}
        {% endfor %}
    </section>
{% endblock %}

